{{#section 'title'}}
    Edit Dashboard
{{/section}}
{{#section 'scripts'}}
    <!-- Libs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datasource-prometheus/dist/chartjs-plugin-datasource-prometheus.umd.min.js"></script>

    <!-- Own Code -->
    <script type="module" src="js/editDashboard.js"></script>
{{/section}}
{{#section 'stylesheets'}}
    <link rel="stylesheet" type="text/css" href="css/index.css">
{{/section}}

<h3>Create New Chart from Prometheus Data</h3>
<p>
    <span>Information:</span> If all values set press the <em>Preview</em> button to get a preview of your chart.
    It may take several seconds to update the chart.
</p>


<form action="/edit" method="POST">

    <div class="row">
        <div class="form-group">
            <label for="promql">PromQL Query</label>
            <input type="text" name="promql" id="promql" class="form-control" required value="{{promql}}">
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label for="title">Title for chart</label>
            <input type="text" name="title" id="title" class="form-control" required value="{{title}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="start">How old should be the oldest datapoint be in seconds? (0 = now)</label>
                <input type="number" name="start" id="start" class="form-control" required value="{{start}}">
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label for="end">How new should be the newest datapoint be in seconds? (0 = now)</label>
                <input type="number" name="end" id="end" class="form-control" required value="{{end}}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="updateInterval">Update interval in seconds (min. 1s)</label>
                <input type="number" name="updateInterval" id="updateInterval" class="form-control" min="1" required value="{{updateInterval}}">
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label for="type">Type (Currently only relative supported)</label>
                <select type="" name="type" id="type" class="form-control">
                    <option>relative</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <button type="submit" class="btn btn-primary mt-3 float-end">Save</button>
            <button id="btn-preview" type="button" class="btn btn-secondary mt-3 m-3 float-end">Preview</button>
        </div>
    </div>
</form>

<div class="accordion-body">
    <div class="card">
        <div class="card-header">
            <h5 id="chart-title">Preview Chart</h5>
        </div>
        <div class="card-body">
            <div class="collapsable">
                <div class="row">
                    <canvas id="chart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
