{{#section 'title'}}
    Overview
{{/section}}
{{#section 'scripts'}}
    <script type="module" src="js/index.js"></script>
{{/section}}
{{#section 'stylesheets'}}
    <link rel="stylesheet" type="text/css" href="css/index.css">
{{/section}}

<div class="row">
    {{#each pods}}
        <div class="col-4">
            <div class="card pod" data-pod-id="{{this.id}}">
                <div class="card-header">
                    {{this.name}}
                </div>
                <div class="card-body">
                    <div class="collapsable">
                        <div class="row">
                            <img class="card-img-left col-3" src="img/pie_chart.jpeg" alt="Here comes some metric graph">
                            <div class="col">
                                <table class="table">
                                    <tr>
                                        <th scope="row">Health</th>
                                        <td>{{this.health}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Images</th>
                                        <td>{{this.metrics.memory}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Created</th>
                                        <td>{{this.metrics.disk}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <a href="/pods/{{this.id}}" class="btn btn-primary">Information</a>
                    <button class="btn btn-primary btn-collapse">Collapse</button>
                </div>
            </div>
        </div>
    {{/each}}
</div>
