{{#section 'title'}}
    List Notifications
{{/section}}
{{#section 'stylesheets'}}
{{/section}}
{{#section 'scripts'}}
{{/section}}


<form action="/notifications/trigger" method="POST">
    <div class="form-group">
        <label for="message">Message</label>
        <input type="text" name="message" id="message" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Trigger Notification</button>
</form>

{{#if notifications.length }}
    {{#each notifications}}
        <div class="row">
            <div class="col-lg-5">
                <div class="card pod mb-3" data-pod-id="{{this._id}}">
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th scope="row">Message</th>
                                <td>{{this.message}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Is Silenced</th>
                                <td>{{this.isSilenced}}</td>
                            </tr>
                            {{#if this.isSilenced }}
                                <tr>
                                    <th scope="row">Reason</th>
                                    <td>{{this.silenceReason}}</td>
                                </tr>
                            {{/if}}
                            <tr>
                                <th scope="row">Date</th>
                                <td>{{formatDate this.date "DD.MM.YY HH:mm"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>No notifications are here!</p>
{{/if}}
