{{#section 'title'}}
    {{this.name}}
{{/section}}
{{#section 'stylesheets'}}
{{/section}}
{{#section 'scripts'}}
{{/section}}

<div class="row">
    <div class="col-lg-5">
        <div class="card pod" data-pod-id="{{pod.id}}">
            <div class="card-header">
                {{pod.name}}
            </div>
            <div class="card-body">
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th scope="row">Pod ID</th>
                            <td>{{pod.id}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Image</th>
                            <td>{{pod.image}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Health</th>
                            <td>{{pod.health}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Total CPU Usage (seconds)</th>
                            <td>{{pod.metrics.cpu}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Total Memory Usage (MiB)</th>
                            <td>{{pod.metrics.memory}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Total Disk Usage (KiB)</th>
                            <td>{{pod.metrics.disk}}</td>
                        </tr>
                    </table>
                <a href="/pods" class="btn">Go back</a>
                </div>
            </div>
        </div>
    </div>
</div>