{{#section 'title'}}
    Settings
{{/section}}
{{#section 'stylesheets'}}
{{/section}}
{{#section 'scripts'}}
{{/section}}
<div class="row">
    <h3>Settings</h3>
    <form action="/settings" method="POST">
        {{#each settings}}
            <div class="form-group">
                <label for="setting[{{this.name}}]">{{this.name}}</label>
                <input type="text" name="setting[{{this.name}}]" id="setting[{{this.name}}]" class="form-control" value="{{this.value}}">
            </div>
        {{/each}}
            <button type="submit" class="btn btn-primary mt-3">Update Setting</button>
    </form>
</div>
