<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KubeWatch - {{section.title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    {{{section.stylesheets}}}
</head>
<body>
<div class="container-fluid">
    <div class="row mb-3">
        <ul id="navigation" class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pods">List of all Pods</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cluster-visualisation">Cluster Visualisation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/notifications">Notifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/edit">Edit Dashboard</a>
            </li>
        </ul>
    </div>
    {{#unless isDatabaseAvailable}}
        <div class="row">
            <p>Database connection lost: </p>
            <p>IsDatabaseAvailable: {{isDatabaseAvailable}}</p>
            <form method="POST" action="/admin/">
                <button class="btn btn-primary">Try reconnect</button>
            </form>
        </div>
    {{/unless}}
    <div class="row justify-content-md-center">
        {{#if pendingNotifications.length }}
        <div class="card text-white bg-danger mb-3">
            <div class="card-body">
                <h5 class="card-title">Alert</h5>
                {{#each pendingNotifications as |notification| }}
                    <p class="card-text">{{notification.message}}</p>
                    <form method="POST" action="/notifications/silence">
                        <input type="hidden" name="url" value="{{../currentUrl}}">
                        <input type="hidden" name="id" value="{{notification._id}}">
                        <textarea required rows="5" class="form-control mb-3" type="text" name="reason" placeholder="Reason for silencing this notification."></textarea>
                        <button class="btn btn-primary">Silence</button>
                    </form>
                {{/each}}
            </div>
        </div>
        {{/if}}
    </div>
    {{{body}}}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{{{section.scripts}}}
</body>
</html>
