<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KubeWatch - {{section.title}}</title>
    <link rel="stylesheet" type="text/css" href="/libs/bootstrap-5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    {{{section.stylesheets}}}
</head>
<body data-style="{{style}}">
<div class="container-fluid">
    <div class="row">
        <ul id="navigation" class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pods">List of all Pods</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cluster-visualisation">Cluster Visualisation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Users (MongoDB Demo)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/notifications">Notification Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/prom-metrics">Cluster Metrics (raw)</a>
            </li>
        </ul>
    </div>

    <div class="row justify-content-md-center">
        {{#if pendingNotifications.length }}
        <div class="card text-white bg-danger mb-3">
            <div class="card-body">
                <h5 class="card-title">Alert</h5>
                {{#each pendingNotifications as |notification| }}
                    <p class="card-text">{{notification.message}}</p>
                    <form method="POST" action="/notifications/silence">
                        <input type="hidden" name="url" value="{{../currentUrl}}">
                        <input type="hidden" name="id" value="{{notification._id}}">
                        <textarea required rows="5" class="form-control mb-3" type="text" name="reason" placeholder="Reason for silencing this notification."></textarea>
                        <button class="btn btn-primary">Silence</button>
                    </form>
                {{/each}}
            </div>
        </div>
        {{/if}}
    </div>
    {{{body}}}
</div>
{{{section.scripts}}}
</body>
</html>
